<!DOCTYPE html>
<html>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    
    
  <title>Настроить TELEGRAM бота </title>
    </head>
	
	
	<body>
	 <div class="main">
    <p class="sign" align="center">Настройка TELEGRAM бота</p>

  
	
    
  
 <details class="details">
    <summary>Инфо</summary>
  <p>  После установки вэбхука </p>
        <p>можно обрабатывать POST-запросы по адресу HOST(https://.здесь хост)/TOKEN</p>
		<p>  Ответ: </p>
		<p> content = json.loads(request.get_data()) </p>
</details>
 


	
	
    
  </body>
</html>
