{% extends "base1.html" %}
{% block title %}  {% endblock %}
 
{% block body %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- 		<script>src="https://code.jquery.com/jquery-3.6.3.js"</script>
		<scripttype="text/javascript" src="/jquery/jquery-3.6.0.min.js"></script> --> 
	<br></br>
	<div align="center" style+"position:fixed; left=300px; top=300px;">	
		{% if email %}
		<h2>{{email|safe}}</h2>
		{% endif %}
    
		
		<h3>Состояние счета</h3>
		<h2>{{account_amount|safe}}</h2>
	
    
		
		</div>
		
		
<span class='aviso'><a href="{{url_for('index')}}"</a> Продолжить работу на лавной странице</span>


{% endblock %}
